:root {
  --dark-br: #6C584C;
  --mid-br: #a98467;
  --off-white: #f0ead2;
  --light-gr: #dde5b6;
  --green: #adc178;

}

html {
  box-sizing: border-box;
  background: linear-gradient(45deg, var(--dark-br), var(--mid-br));
  padding: 1em;
}

.App {
  box-sizing: border-box;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 16px;
  background-color: var(--off-white);
  padding: 2em;
}

form input {
  margin: 0.5em;
  text-align: center;
  border: none;
}

button, .button {
  border: 1px var(--light-gr) solid;
  background-color: var(--green);
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 1px 1px 1px black;
}

button:active, .button:active {
  box-shadow: none;
}

@media screen and (max-width: 760px){
  .App {
    padding: 1em;
    width: 100%
  }

  canvas {
    height: 150px;
    width: 150px;
  }
  a div {
    margin: 1em !important;
  }
}